a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
	background:transparent;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
/*#t_query,table tr th{
	padding:0;
	border:1px solid #000;
	border-collapse:collapse;
	background-color: #FFE4C4;
}*/
table, table td{
	padding:0;
	border:none;
	border-collapse:collapse;
}

}
img {
	vertical-align:top;
}
embed {
	vertical-align:top;
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline;
}
input, textarea {
	border:0;
	padding:0;
	margin:0;
	outline: 0;
}
iframe {
	border:0;
	margin:0;
	padding:0;
}
input, textarea, select {
	margin:0;
	padding:0px;
}
