/* Global properties ======================================================== */
html, body {
	width:100%;
	padding:0;
	margin:0;
}
body {
	font: 14px/25px Arial, Helvetica, sans-serif;
	color:#292929;
	min-width:960px;
	background: url(../images/bg.gif) center 0 repeat;
	border-top:#292929 6px solid;
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
.main {
	width:960px;
	margin:0 auto;
	position:relative;
}

/***********************************************************************/
a {
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:underline;

}
a:visited 
{
	color:#01a5ca;
}
a.button {
	background:#f4f4f4;
	font-size:14px;
	line-height:18px;
	color:#01a5ca;
	text-transform:uppercase;
	display:inline-block;
	padding:12px 16px 13px 16px;
}
a.button:hover {
	background:#d3d1d1;
	color:#333;
}
a.link {
	text-decoration:none;
	cursor:pointer;
	color:#01a5ca;
}
a.link:hover {
	text-decoration:underline;
}
.color-1 {
	color:#01a5ca;
}
a.color-1:hover {
	color:#000;
}
.font-3 {
	font-size:17px;
	line-height:33px;
	color:#292929;
}
h2 {
	font-size:30px;
	line-height:36px;
	color:#292929;
	font-weight:normal;
	letter-spacing:-1px;
}
ul {
	margin:0;
	padding:0;
	list-style-image:none;
}
ul.list-1 li {
	padding:0px 0 5px 12px;
	line-height:25px;
	background:url(../images/marker-1.gif) 0 11px no-repeat;
}
ul.list-1 li a {
	font-size:14px;
	color:#292929;
	line-height:25px;
}
ul.list-1 li a:hover {
	color:#01a5ca;
}
ul.list-2 li {
	padding:0px 0 5px 12px;
	line-height:25px;
	background:url(../images/marker-1.gif) 0 11px no-repeat;
}
ul.list-2 li a {
	font-size:14px;
	color:#01a5ca;
	line-height:25px;
}
ul.list-2 li a:hover {
	color:#292929;
}
/******************************************************************/
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	width:100%;
}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative
}
.wrap {
	overflow:hidden;
	position:relative
}
.extra-wrap {
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.img-indent {
	
	margin:3px 30px 0px 0;
}
.last {
	margin-right:0px !important;
}
.img-radius {
	border-radius:4px;
}
.top-1 {
	padding-top:35px;
}
.top-2 {
	padding-top:25px;
}
.top-3 {
	margin-top:23px;
}
.top-4 {
	margin-top:33px;
}
.top-5 {
	margin-top:18px;
}
.top-6 {
	margin-top:12px;
}
.left-1 {
	padding-left:20px;
}
.bot-0 {
	padding-bottom:0 !important;
	margin-bottom:0 !important;
}
.pad-1 {
	margin:13px 0px 12px 0px;
}
.p1 {
	padding-bottom:25px;
}
.head_up {
	margin-top: 20px;
	padding-bottom:28px;
	padding-top:10px;
	font-size: 1.4em;
	font-family:yu gothic;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}
.doct
{
	font-size: small;
	font-style: italic;
	font-family: tahoma;
	float: right;
	margin-bottom: 5px;
}
.p2_nutrition {
	margin-top: 5px;
	padding-bottom:5px;
	font-style: italic;
	color: #f00;
	font-size: 1.3em;
	font-family: tahoma;
	border-bottom: 1px dotted #000;
}
.p2
{
	padding-bottom:5px;
}
.p3 {
	padding-bottom:12px;
}
.p4 {
	padding-bottom:15px;
}
.p5 {
	padding-bottom:px;
}
.p6 {
	padding-bottom:20px;
}
/*********************************header*************************************/
header {
	width:100%;
	z-index:101;
	position:relative;
	overflow:hidden;
	padding-bottom:17px;
}
h1 {
	float:left;
	margin:23px 0 0px 29px;
}
h1 a {
	font-size:53px;
	line-height:65px;
	color:#01a5ca;
	letter-spacing:1px;
	display:inline-block;
}
h1 a strong {
	display:block;
	color:#292929;
	margin-top:-21px;
	font-weight:normal;
}
.social-icons {
	overflow:hidden;
	text-align:right;
	margin-top:35px;
}
.social-icons a {
	display:inline-block;
	width:23px;
	height:23px;
	float:right;
}
.icon-1 {
	background:url(../images/icon-1.png) 0 0 no-repeat;
}
.icon-2 {
	background:url(../images/icon-2.png) 0 0 no-repeat;
	margin-left:7px;
}
.social-icons a:hover {
	background-position:0 bottom;
}
#navMenu ul ul {
	position:absolute;
	visibility:hidden;
 }
 #navMenu ul li:hover ul {
    visibility:visible;
    display: inline-block;
    z-index:9999; 
 }
nav {
	overflow:hidden;
	margin-right:30px;
}
ul.menu {
	float:right;
	margin-top:5px;
}
ul.menu li {
	float:left;
	line-height:20px;
	margin:0px 5px 0px 20px;
}
ul.menu li a {
	font-size:17px;
	line-height:22px;
	color:#292929;
	display:inline-block;
}
ul.menu li a:hover, ul.menu li.current a {
	color:#01a5ca;
}
/*Admin page*/
ul.menu_admin {
	float:right;
	margin-top:85px;
	position: absolute;
	margin-left: 20px;
}
ul.menu_admin li {
	float:left;
	line-height:20px;
	margin:0px 0px 0px 20px;
}
ul.menu_admin li a {
	font-size:15px;
	line-height:22px;
	color:#292929;
	display:inline-block;
}
ul.menu_admin li a:hover, ul.menu_admin li.current a {
	color:#01a5ca;
}

.bg-img {
	background:url(../images/bg-img.gif) 0 0 no-repeat;
	width:150px;
	height:6px;
	position:absolute;
	top:-6px;
	left:-152px;
}
/*********************************content*************************************/
#content {
	width:100%;
}
.box-shadow {
	box-shadow: 0px 0px 5px #dbdbdb;
	background:#fff;
}
.img-border {
	border:#f4f4f4 5px solid;
}
.block-1 {
	padding:25px 30px 29px 44px;
}
.block-2 {
	padding:25px 30px 45px 44px;
}
.block-3 {
	padding:25px 30px 25px 44px;
}
.col-1_comm {
	float:left;
	width:575px;
	margin-right:65px;
}
.col-1 {
	float:left;
	width:575px;
	margin-right:65px;
}
.col-1_profile {
	float:left;
	width:850px;
	margin-right:65px;
	margin-left: -30px;
}
.col-1_signup {
	float:left;
	width:850px;
	margin-right:65px;
}
.col-2 {
	float:left;
	width:225px;
}
.col-3 {
	float:left;
	width:225px;
	margin-right:50px;
}
.col-4 {
	float:left;
	width:590px;
}
.form-search {
	margin:27px 0px 0 0px;
	width:210px;
}
#form-search input {
	width:188px;
	border:#f4f4f4 1px solid;
	height:18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#bebebe;
	vertical-align:top;
	padding:11px 9px 12px 11px;
	display:inline-block;
	margin-top:19px;
}
.search_button {
	background:#f4f4f4;
	font-size:14px;
	line-height:18px;
	color:#01a5ca;
	text-transform:uppercase;
	display:inline-block;
	padding:12px 28px 13px 28px;
	margin:15px 0px 0 0;
}
.search_button:hover {
	background:#d3d1d1;
	color:#333;
}
.box-2>div {
	float:left;
	width:170px;
	margin-right:30px;
}
.box-2 p.color-1 {
	margin-top:5px;
}
.border-1 {
	border-bottom:#e5e5e5 1px solid;
	padding-bottom:15px;
	margin-bottom:9px;
}
/****************************footer************************/
footer {
	width:100%;
	position:relative;
	overflow:hidden;
	text-align:center;
	padding:32px 0 45px 0;
}
footer p {
	color:#1e1e1e;
}
/**********************form**********************/
.map {
	width:200px;
	height:200px;
	margin:20px 0 0 0;
}
.map iframe {
	width:200px;
	height:200px;
}
dl {
	margin:12px 0px 0 0px;
}
dl dt {
}
dl dd span {
	display:block;
	width:83px;
	float:left;
}
dl dd {
}
dl dd a {
	text-decoration:underline !important;
}
dl dd a:hover {
	text-decoration:underline;
	color:#333;
}
#form {
	margin: 20px 0 0px 0px;
	width:575px;
}
#form input {
	border:#C0C0C0 1px solid;
	background:#fff;
	font: 14px Arial, Helvetica, sans-serif;
	color:#bebebe;
	padding:11px 9px 13px 11px;
	outline: medium none;
	width: 278px;
	height:17px;
	float:left;
}
#form textarea {
	border: #C0C0C0 1px solid;
	background:#fff;
	font: 14px Arial, Helvetica, sans-serif;
	color:#bebebe;
	height: 192px;
	outline: medium none;
	overflow: auto;
	padding: 12px 0px 0px 11px;
	width: 562px;
	resize:none;
	margin:0px 0 0 0;
	float:left;
}
#form label {
	position:relative;
	overflow:hidden;
	display: block;
	min-height:53px;
}
.btns {
	text-align:right;
	width:575px;
	padding-top:10px;
}
.btns a {
	display:inline-block;
	margin:0 0px 0 10px;
}
/*styles the loggin form*/
#inputs input {
  background: #f1f1f1;
  font-family:tahoma; 
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 200px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}
#input input {
  background: #f1f1f1;
  font-family:tahoma; 
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 100px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#input input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}
.space
{
	padding-bottom: 25px;
	padding-left: 20px;
	font-size: 16px;
}
#table
{
  font-family: calibri;
  font-size: 1.2em;

  
}
.check
{
	margin-left: 90px;
}
#actions
{
	background-color: #01a5ca;
	border-radius: 10px;
	box-shadow: 2px #000;
	font-weight: bold;
	width:100px;
	margin-left: 50px;
}
.actions
{
	background-color: #01a5ca;
	border-radius: 10px;
	box-shadow: 2px #000;
	font-weight: bold;
	width:100px;
	margin-left: 145px;
}
.adminbutton
{
	background-color: #01a5ca;
	border-radius: 10px;
	box-shadow: 2px #000;
	font-weight: bold;
	width:100px;
	float: left;
	margin-right: 290px;
	margin-top: 10px;
}

/*Display wrong password*/
#alert_login
{
  color:#f00;
  font-size: large;
  margin-top: -30px;
  ;
}
/*The notification if email or phone already exists*/
#alert
{
  color:#000;
  font-size: large;
  margin-top: -30px;
}
/*The already existing email or phone*/
#warn 
{
  color:#f00;
  font-style: italic;
  text-decoration: underline;
}
#logged
{
  float: right;
  font-size: 1.2em;
  margin-top:-20px;
  padding-right: 20px;
  

} 
#t_area
{
	border:#C0C0C0 1px solid;
	background:#fff;
	font: 14px Arial, Helvetica, sans-serif;
	color:#bebebe;
	height:auto;
	width: auto;
	outline: medium none;
	overflow: auto;
	padding: 5px 0px 0px 11px;
	resize:none;
	margin-right: -200px;
	float:left;
}
#butt
{
	float: right;
	margin-right: 65px;
}
#date_area
{
	border:#C0C0C0 1px solid;
	background:#fff;
	font: 14px Arial, Helvetica, sans-serif;
	color:#000;
	height:auto;
	width: auto;
	outline: medium none;
	overflow: auto;
	padding: 5px 0px 0px 11px;
	resize:none;
	
}
.format_prof
{
  font-family:cambria; 
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 8px;
  padding-left: 40px

}
#welcome
{
	float: right;
	font-size: 2.1em;
	font-family: britannic;
	font-weight: bold; 
}
#welcome1
{
	font-size: 2.1em;
	font-family: britannic;
	font-weight: bold; 
}
#logged_admin
{
	float: right;
	color: #4682B4;
	font-size: 1.6em;
	font-family: tahoma;
	font-weight: bold;
	margin-top: -10px; 
}
#logout_admin
{
	float: right;
	margin-top: -48px;
	background-color: #01a5ca;
	color: #fff;
	width: 90px;
	height: 30px;
	padding-left: 5px;
	font-weight: bold;
	box-shadow: 10px #000;
	cursor:pointer;
}
#logout
{
	float: right;
	margin-top: 20px;
	background-color: #01a5ca;
	color: #fff;
	width: 90px;
	height: 30px;
	padding-left: 5px;
	font-weight: bold;
	box-shadow: 10px #000;
	cursor:pointer;
}

#tagline
{
	font-style: italic;
	font-family: brush script std;
	font-size: 2em;
	float: right;
	margin-top: 80px;
	margin-right: -50px;

}
#admin_head
{
	font-size: 4em;
	font-family: bernard mt;
	margin-top: 85px;
}
.admin_menu
{
	border: 1px solid#C0C0C0;
	height: 300px;
	width: 527px;
	position: absolute;
	margin-top: -90px;
    
}
.menu_border
{
	border:1px dotted #01a5ca;
	border-left: 40px solid #01a5ca;
	border-radius: 7px;
	background-color: #fff;
	padding: 10px;
	margin-top: px;
	width: 850px;


}
#main_menu
{
	font-size: 1.7em;
	margin-bottom: 10px;
	font-family: broadway;
	text-decoration: underline;
}
.list_menu
{
   margin-bottom: 10px;
   font-weight:;
   font-size: 1.3em;
   font-family: tahoma;
}
#admin_option
{
	
	width: 200px;
	height: 200px;
	margin-left: 690px;
	margin-top: 50px;
    
}
.quick_menu
{
	font-size: small;
	padding-left:10px;
	
}
#delete
{
	text-align: center;
	margin-left: 740px;
	background-color: #A9A9A9;
	width: 70px;
	height: 30px;
	padding-left: 5px;	
	font-weight: bold;
	border-radius: 5px;
	cursor:pointer;
}
#update
{
	position: absolute;
	margin-right: 5px;
	margin-left: 650px;
	margin-top: -30px;
	text-align: center;
	background-color: #A9A9A9;
	width: 70px;
	height: 30px;
	padding-left: 5px;
	font-weight: bold;
	border-radius: 5px;
	cursor:pointer;

}
#result
{
	border: 1px solid #A9A9A9;
    padding:30px;
	width: auto;
	height: auto;
}
#result1
{
	border: 1px solid #A9A9A9;
    padding:30px;
	width: 670px;
	height: auto;
	background-color: #FFFAFA;
}
#table_2
{
	margin-left: 300px;
	margin-top: -87px;
}
#table_3
{
	margin-left: 600px;
	margin-top: -87px;
}
#update_new
{
	margin-left: 350px;
	margin-top: -430px;
	position: absolute;
}
.new_2
{
	float: right;
	font-size: 1.1em;
	
}
#summary
{
	
	margin-top:40px ;
	border: 1px solid #A9A9A9;
	padding: 20px;
}
.summary_headn
{
	font-family: tahoma;
	text-decoration: underline;
	font-size: large;
	color:#01a5ca;

}
.transac
{
	float: right;
	margin-top: -174px;
}
.post_by
{
  float: left;
  font-weight: bold;
  font-style: italic;
  font-size: small;
  margin-left: 70px;
  margin-top: -30px;
 
}
.main_post
{
	font-family: wasco sans;
	margin-left: 10px;
}
.main_comment
{
	font-family: tahoma;
	margin-left: 10px;
	font-size: small;

}
.post_title
{
	font-weight: bold;
	text-decoration: underline;
	font-family: tahoma;

}
.the_post
{
	border-bottom: 1px dotted #000;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.comment
{
	border: 1px dotted #000;
	padding: 30px;
	border-radius: 5px;
	margin-left: 30px;

}
.the_post_admin
{
	border: 1px dotted #000;
	padding-bottom: 20px;
	margin-bottom: 10px;
	padding: 10px;
	margin-top: -40px;
}
.the_comment
{
	margin-left: 70px;
	background-color: #FFFAFA;
	padding: 3px;
	border-radius: 6px;

}
.delete
{
	margin-left: 500px;
	background-color: #FAEBD7;
	width: 78px;
	padding: 3px;
    font-style: italic;
}
.delete_comm
{
	margin-left: 360px;
	padding: 3px;
}
.edit
{
	margin-left: 400px;
	background-color: #FAEBD7;
	width: 78px;
	padding: 3px;
	position: absolute;
	font-style: italic;

}
.reply
{
	margin-left: 490px;
	text-decoration: underline;
	width: 78px;
	padding: 3px;
	font-size: 1.2em;
}
.welcome
{
	color: #4682B4;
	font-size: 1.9em;
	font-family: tahoma;
	font-weight: bold;
	margin-right: -20px;
}
.welcome_upt
{
	color: #4682B4;
	font-size: 1.9em;
	font-family: tahoma;
	font-weight: bold;
	float: right;
}
.comment_body
{
	margin-left: 50px;
	margin-top: 70px;
}
.rules
{
	font-family: ;
	border:1px solid #C0C0C0;
	padding: 3px;
	width: 600px;
	font-family: wasco sans;
	font-weight: bold;
	color: #4682B4;
}
.emphas
{
	font-style: italic;
	
}
.personal
{
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	padding-left: 10px;
	padding-top: 10px;
	width: 230px;
	height: 300px;
	float: right;
	margin-top: -250px;

}
.general
{
	text-decoration: underline;
	margin-left: 40px;
	font-weight: bold;
	font-size: 1.2em;
	
}
.up_details
{
	margin-top: 20px;
	margin-left: 70px;
	text-align: center;
	font-size: 1.2em;
	background-color: #FAEBD7;
	width: 150px;
	font-weight: bold;
}
.y_details
{
	color: #4682B4;
	font-size: 1.4em;
	margin-bottom: 20px;
}
.head_det
{
	font-weight: bold;
	margin-left: 20px;
	padding-right: 10px;
	font-size: 1.1em;
}
.contacts
{
	font-family: wasco sans;
	font-size: small;
	margin-top:30px;
	margin-bottom: 50px;
	color: #000;
}
.email_form
{
	border: 1px solid #C0C0C0;
	padding-top: 50px;
	height: auto;
	width: auto;
	margin-left: 120px;
	font-family: calibri;
    font-size: 1.2em;
	margin-top:30px;

}
.search
{
	background-color: #01a5ca;
	box-shadow: ;
	font-weight: bold;
	width:85px;
	height: 30px;
	margin-bottom: 20px;
}
.wrong_email
{
	color: #f00;
	text-align: center;
	margin-bottom: 5px;
	font-size: small;

}
.showname
{
	margin-left: 25px;
}
.showdetails
{
	margin-left: 35px;
}
.pending
{
	float: right;
	font-size: 1em;
	margin-top: -90px;
	margin-right: 15px;
}
.confirmed
{
	float: right;
	font-size: 1em;
	margin-top: -90px;
}
.cancel
{
	margin-top: 90px;
	font-size: 1.2em;
	font-family: tahoma;
	margin-bottom: 70px;

}
.join
{
	margin-top: 40px;
	font-size: 1.4em;
	margin-left: 5px;
	font-style: italic;
}
.welcomName
{
 font-size: 1.3em;
 font-weight: bold;
 font-family: trajan pro;
}
.circleborder {
width: 120px;
height: 130px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
background: url(URL) no-repeat;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.dateformat 
   {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	float: left;
	letter-spacing:.2em;
	}
#txt
	{
		margin-left: 3px;
		margin-top: -15px;
	}